@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Fira Code";
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  list-style: none;
  margin: 20px 0;
  color: #000;
}
a {
  text-decoration: none;
}
.repos ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.repos ul li,
.detail-card {
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 20px;
}
.repos ul li > a {
  color: #000;
}
.data-details span {
  color: rgb(55, 15, 214);
}
.detail-block h3 {
  text-align: center;
  padding: 20px;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .repos ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}
